<section class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center">List of Cars</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Driver Name</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each cars}}
        <tr>
          <td class="text-center">{{_id}}</td>
          <td class="text-center">{{driver_name}}</td>
          <td class="text-center">{{status}}</td>
          <td>
            <a href="/cars/edit/{{_id}}" class="btn btn-info">
              <span class="glyphicon-edit"></span>
            </a>
          </td>
          <td>
            <form action="/cars/{{_id}}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-warning"><span class="glyphicon-trash"></span></button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>